$black : #000;
$white : #fff;

$primary : #003866;
$primary--lite : #305d9a;
$secondary : #F18712;
$secondary--lite : #ffd990;
$tertiary : #e50000;

$grey : #e8e8e8;
$grey--lite : #f1f1f1;
$grey--dark : #bbbbbb;
$grey--text : #5a5a5a;
$grey--arrow : #7c7c7c;
$grey--xdark : #b4b4b4;
$grey--xxdark : #979797;

$grey--checkbox--background : #eee;
$grey--checkbox--color : #dadada;
$grey--checkbox--shadow : #ddd;

$green-confirm : #7EAF00;
$red-error--background : #fff6f6;

$font-family : 'Source Sans Pro', Helvetica, Arial, sans-serif !default;

$font-size--xsmall : 1rem;
$font-size--small : 1.2rem;
$font-size--base : 1.4rem;
$font-size--button : 1.6rem;
$font-size--large : 1.8rem;
$font-size--xlarge : 2rem;
$font-size--xxlarge : 2.5rem;
$font-size--xxxlarge : 3.2rem;
$font-size--xxxxlarge : 4rem;

$font-color--headline : $primary;
$font-color--text : $grey--text;
$font-color--menu : #4a4a4a;

$font-weight--lite : 300;
$font-weight--normal : 400;
$font-weight--bold : 900;

$box-shadow--menu--header : 0px 1px 1px 1px $grey;
$box-shadow--menu--navigation : 0 0 3px 1px $grey;
$box-shadow--menu--navigation--hover : 0 3px 4px 2px rgba(0, 0, 0, 0.3);
$box-shadow--menu--item : 0 0 6px 3px $grey--dark;
$box-shadow--boxes : 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
$box-shadow--boxes--lite : 1px 1px 3px 0 rgba(0, 0, 0, 0.13);
$box-shadow--boxes--operator : 0 1px 3px 0 rgba(0, 0, 0, 0.3);
$box-shadow--form-input-fields : inset 0 1px 3px 0 rgba(113, 113, 113, 0.3);
$box-shadow--form-input-checkboxes : inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
$box-shadow--contact--form : inset 0 2px 4px 0 rgba(50, 50, 50, 0.5);
$box-shadow--sticky : 0 4px 6px 0 rgba(142, 142, 142, 0.5);
$box-shadow--strong : 1px 0px 10px 0 rgba(0, 0, 0, 0.2);
$box-shadow--extendedSearch : 0 0 1rem 0 $grey--xxdark;
$box-shadow--extendedSearch--outer : .1rem 0 1.5rem 0 rgba(106, 106, 106, .5);

$gradient-menu--mobile : linear-gradient(to bottom, #e2e2e2, #d4d4d4);
$gradient-menu--desktop : linear-gradient(to bottom, #fff, #eee);
$gradient-checkbox-fill : radial-gradient(circle at 48% 50%, #80a1e2, #233863);
$gradient-cookie : linear-gradient(to bottom, #ffffff, #e0e0e0);

/* -------------------------------------------------- Icons */
$font-path : "/globalMisc/fonts/Karstadt/fonts" !default;
$ks : 'Karstadt' !important;

$ks-adults : "\e900";
$ks-arrow-down : "\e92c";
$ks-arrow-left : "\e901";
$ks-arrow-right : "\e902";
$ks-arrow-up : "\e92b";
$ks-ball : "\e903";
$ks-beach : "\e956";
$ks-beach-sun : "\e924";
$ks-bed : "\e904";
$ks-booking : "\e93b";
$ks-burger : "\e941";
$ks-bus-full : "\e905";
$ks-bus-line : "\e951";
$ks-calendar : "\e906";
$ks-camera : "\e907";
$ks-car : "\e92a";
$ks-check : "\e94a";
$ks-check-round : "\e94f";
$ks-check-simple : "\e95a";
$ks-clock-full : "\e908";
$ks-clock-line : "\e909";
$ks-close-full : "\e934";
$ks-close-line : "\e933";
$ks-cutlery-full : "\e955";
$ks-cutlery-line : "\e944";
$ks-destination : "\e942";
$ks-details : "\e943";
$ks-door : "\e949";
$ks-double-arrow-left : "\e90c";
$ks-double-arrow-right : "\e90d";
$ks-employee : "\e945";
$ks-exclamation : "\e90e";
$ks-family : "\e910";
$ks-family-circle : "\e925";
$ks-filter : "\e950";
$ks-flower : "\e911";
$ks-funpark : "\e912";
$ks-grid : "\e92d";
$ks-heart-full : "\e913";
$ks-heart-line : "\e914";
$ks-home : "\e937";
$ks-home-full : "\e938";
$ks-hotel : "\e93d";
$ks-hotel-large : "\e946";
$ks-inclusive : "\e952";
$ks-info : "\e916";
$ks-key-full : "\e917";
$ks-key-line : "\e918";
$ks-list : "\e92e";
$ks-list-full : "\e919";
$ks-list-line : "\e91a";
$ks-location : "\e947";
$ks-luggage : "\e91b";
$ks-luggage-full : "\e94e";
$ks-magnifier : "\e932";
$ks-magnifier-full : "\e922";
$ks-mail : "\e91c";
$ks-mail-full : "\e94b";
$ks-minus : "\e930";
$ks-ocean : "\e93a";
$ks-pdf : "\e94c";
$ks-phone : "\e91d";
$ks-piggy : "\e939";
$ks-pin : "\e91e";
$ks-pin-full : "\e931";
$ks-plane : "\e921";
$ks-plane-line : "\e94d";
$ks-plane-start : "\e91f";
$ks-plane-stop : "\e920";
$ks-plane-up : "\e957";
$ks-plus : "\e92f";
$ks-pool : "\e926";
$ks-print : "\e954";
$ks-rating : "\e93c";
$ks-reload : "\e95b";
$ks-search-filter : "\e953";
$ks-search-plus : "\e915";
$ks-seat : "\e958";
$ks-star-full : "\e923";
$ks-star-half : "\e935";
$ks-stop : "\e959";
$ks-sun-full : "\e90a";
$ks-sun-half : "\e90b";
$ks-switch : "\e93e";
$ks-tag : "\e93f";
$ks-train : "\e940";
$ks-trash : "\e95c";
$ks-trolley : "\e948";
$ks-water : "\e928";
$ks-wave : "\e936";
$ks-wifi : "\e927";
$ks-wifi-free : "\e90f";
$ks-window : "\e929";
